/* ----- Nunito ----- */

@font-face {
    font-family: 'Nunito';
    src: url("/static/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: 'Nunito';
    src: url("/static/fonts/Nunito-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Nunito';
    src: url("/static/fonts/Nunito-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url("/static/fonts/Nunito-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* ----- Bree Serif ----- */

@font-face {
    font-family: 'Bree Serif';
    src: url("/static/fonts/BreeSerif-Regular.ttf");
}

/* ----- Work Sans ----- */

@font-face {
    font-family: 'Work Sans';
    src: url("/static/fonts/WorkSans-Regular.ttf");
}
