*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0;
    font-family: 'Bree Serif', serif;
}

header p {
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: super;
}

header div {
    text-align: right;
}

#language-selection {
    max-width: 270px;
    background: rgba(0, 0, 0, 0.15);
}

#flags-of-countries {
    display: inline-flex;
    margin: 0;
    padding: 4px;
    width: 125px;
    justify-content: space-between;
}

#flags-of-countries img {
    flex: 1;
    width: 16px;
    height: 16px;
}

main h1 a,
main h1 a:visited {
    color: inherit;
    text-decoration: none;
}

#company-name {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 2em;
}

#catchphrase {
    font-size: 1.5em;
    margin-top: 0.35em;
    margin-bottom: 2em;
}

#company-name, #catchphrase {
    display: inline-block;
    text-shadow: 0 0 8px rgba(28, 28, 28, 0.85);
}

#no-results-found {
    display: inline-block;
    background: rgba(28, 28, 28, 0.65);
    margin-top: 128px;
    padding: 32px;
    font-size: 1.5em;
    border: 1px solid;
    box-shadow: 0 0 64px 0 #000;
    border-radius: 4px;
}

main:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.43);
    z-index: -1;
}

main {
    background: url("/static/images/home-page-bg.jpg");
    width: 100%;
    background-size: cover;
    text-align: center;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

#rounded-search-bar {
    padding: 0 30%;
    display: flex;
    flex-direction: row;
}

#search-input, #search-button {
    border: 1px solid #ededed;
    background-color: #fafafa;
}

#search-input {
    flex-basis: 85%;
    border-right: none;
    border-radius: 35px 0 0 35px;
    padding: 8px;
    color: #696969;
}

#search-button {
    background-color: #ededed;
    background-image: url("../images/magnifying-glass.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    flex-basis: 15%;
    border-left: 1px solid #888;
    border-radius: 0 35px 35px 0;
    cursor: pointer;
}

section#search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    margin: 128px;
    background: rgba(23, 23, 23, 0.35);
}

section.product::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.4);
    z-index: -1;
}

section.product {
    color: #fafafa;
    text-shadow: 0 0 13px #000;
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin: 16px;
    border: 1px solid rgb(245, 245, 245);
    background-color: #000;
    box-shadow: 0 13px 6px -6px rgb(0, 0, 0);
    font-family: 'Nunito', serif;
    font-size: 14px;
    font-weight: bold;
    background-size: cover;
    background-clip: padding-box;
    position: relative;
    z-index: 1;
}

header {
    font-size: 13px;
}

footer a,
footer a:visited {
    color: #4532ae;
    text-decoration: none;
}

footer {
    font-size: 11px;
    text-align: center;
    padding: 3px;
}

header, footer {
    background: #32ad44;
    color: #111;
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #35d448;
}
