<!DOCTYPE html>
<html>

<head>
    <title>Find Everything &ndash; make shopping easy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
</head>

<body>

<header>
    <div>
        <section id="language-selection">
            <p>Select your language:</p>
            <section id="flags-of-countries">
                <img src="/static/images/united-kingdom.svg">
                <img src="/static/images/france.svg">
                <img src="/static/images/germany.svg">
                <img src="/static/images/poland.svg">
                <img src="/static/images/italy.svg">
            </section>
        </section>
    </div>
</header>

<main>
    <h1 id="company-name"><a href="/">Find Everything</a></h1>
    <br>
    <h3 id="catchphrase">make shopping easy</h3>

    <form method="post" action="/">
        <section id="rounded-search-bar">
            <input id="search-input" type="search" name="query">
            <button id="search-button" type="submit"></button>
        </section>
    </form>

    {% if search_results %}
    <section id="search-results">

        {% for r in search_results: %}
        <section class="product" style="background: url('/get_image?id={{ r.id }}')">
            <p>{{ r.title }}</p>
            <p>{{ '{}.{} EUR / kg'.format(r.price // 100, r.price % 100) }}</p>
        </section>
        {% endfor %}

    </section>

    {% elif g.search_performed %}

    <h5 id="no-results-found">Sorry, no results found.</h5>

    {% endif %}
</main>

<footer>
    <div>
        Background photo by
        <a href="https://unsplash.com/@neonbrand">NeONBRAND</a>
        on <a href="https://unsplash.com/">Unsplash</a>.
    </div>
    <div>Fruit and vegetables images can be found on <a href="https://www.pexels.com/">Pexels</a>.</div>
    <div>
        Icons made by
        <a href="https://www.freepik.com/" title="Freepik">Freepik</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
            CC 3.0 BY</a>.
    </div>
</footer>

</body>

</html>
